<!--Main container-->
<div class="container">
    <app-header></app-header>
    <!--Grid row-->
    <div class="row">

        <!--Grid column-->
        <div class="col-md-7">
          <!--Featured image -->
        <img src="https://mdbootstrap.com/img/Photos/Slides/img%20(70).jpg" class="img-fluid">


        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-5">



        </div>
        <!--Grid column-->

    </div>
    <!--Grid row-->

    <!--Grid row-->
    <div class="row">

        <!--Grid column-->
        <div class="col-lg-4 col-md-12">



        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-4 col-md-6">



        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-4 col-md-6">



        </div>
        <!--Grid column-->

    </div>
    <!--Grid row-->
   <app-footer></app-footer>
</div>
<!--Main container-->
