
footer{
 background-color: #292c2f;
 color: white;
 box-shadow: 0 1px 1px 0;
 box-sizing: border-box;
 width: 100%;
 text-align: center;
 padding: 45px;
 margin-top: 80px;
 font-style: Garamond
}
.row_one {
  margin-bottom: 50px;
}

.footer-links{
  display: inline-block;
  font-weight: bold;
  color: white;
  font-size: 120%;
}
.footer-links ul li{
  display: inline;
}
.footer-links li{
  margin:10px;
}
.footer-links ul li{
  /* filter: url(filters.svg#grayscale); Firefox 3.5+ */
  filter: gray; /* IE5+ */
  -webkit-filter: grayscale(1); /* Webkit Nightlies & Chrome Canary */
  -webkit-transition: all .5s ease-in-out;
}

.footer-links ul li:hover {
  filter: none;
      -webkit-filter: grayscale(0);
      -webkit-transform: scale(1);
}

.footer-bottom{
  text-align: left;
  border-top: 1px solid #cccccc41;
}
.craft-title{
  margin-bottom: 50px;
}
.footer-craft{
  display: inline-block;
}
.footer-craft ul li{
  display: inline;
}
.footer-craft li{
  margin: 5px;
}
