<!--Footer-->
<footer class="container-fluid">

  <div class="container">
    <div class="row_one">
        <div class="row">

            <!--First column-->
            <div class="col-md-6">
                <div class="footer-links">
                  <h1 class="contact">Contact</h1>
                  <p>You can contact me on the following sites</p>
                    <ul class="social clerfix">
                      <li><a class="facebook" href="https://www.facebook.com/josue.guerrero.58"><img src="../../content/img/facebook.jpg" alt="" style="width:90px;height:90px;"></a></li>
                      <li><a class="linkedin" href="https://www.linkedin.com/in/eguerrerom/"><img src="../../content/img/link.png" alt="" style="width:100px;height:100px;"></a></li>
                    </ul>
                  </div>
            </div>
            <!--/.First column-->

            <!--Second column-->
            <div class="col-md-6">
              <div class="footer-craft">
                <h1 class="craft-title">Crafted with</h1>
                  <ul class="craft clerfix">
                    <li><img src="../../content/img/angular.svg" alt="" style="width:100px;height:100px;"></li>
                    <li><img src="../../content/img/bootstrap.png" alt="" style="width:100px;height:100px;"></li>
                    <li><img src="../../content/img/node_js.png" alt="" style="width:100px;height:100px;"></li>
                    <li><img src="../../content/img/mongo.png" alt="" style="width:290px;height:100px;"></li>
                    <li><img src="../../content/img/express.png" alt="" style="width:290px;height:100px;filter:white"></li>
                  </ul>
              </div>
          </div>
            <!--/.Second column-->
        </div>
      </div>
        <div class="row">
        <!--Copyright-->
        <div class="col-md-12">
            <div class="footer-bottom">
                <p>© 2018 Copyright: Made by Eduardo Guerrero</p>
            </div>
        </div>
        <!--/.Copyright-->
      </div>
  </div>
</footer>
<!--/.Footer-->
